body {
  background-color: #dde6ed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#recent-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  padding-left: 7.5rem;
  font-size: 5rem;
}

.recent-score-board {
  width: 40%;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  margin-right: 3rem;
}

.recent-score-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.score-board {
  display: table;
  width: 100%;
  background-color: #27374d;
}

.score-board p {
  display: table-row;
}

.score-board p:before {
  content: '';
  display: table-cell;
  width: 30%;
  padding-right: 10px;
}

.form-score {
  display: flex;
  width: 40%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.sub-header {
  font-size: 2rem;
}

#submit-score {
  margin-left: 33.5rem;
}

.para-background {
  background-color: #9db2bf;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type='text']:focus {
  border: 3px solid #555;
}

button {
  background-color: #27374d;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #27374d;
}

p {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin: 0;
  color: white;
}
